/***** BASE STYLES *****/

@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdom-script.otf') format('opentype');
}

html {
	font-size: 16px;
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;
	
}


/***** GRID *****/

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	width: 1200px;
}



/***** FONT STYLE *****/

h1, h2, h3, h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 1.875em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.12em;
}

h4 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
	padding: 0 30px;
}

/***** HEADER *****/

header {
	align-items: center;
	border-bottom: 3px double #77a466;
	display: flex;
	height: 80px;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%
}

header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}


header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: inline;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0 10px;
	
}

header nav ul li a {
	color: #77a466;
	text-decoration: none;
}

/***** SECTIONS *****/

.top-section, .bottom-section {
	align-items: center;
	clear:both;
	display: center;
	justify-content: center;
	margin: 0, auto;
}

.main-image {
	float: left;
	height: auto;
}

.main-image img {
	border-bottom: 3px solid #77a466;
}

.main-title {
	float: left;
	height: auto;
}

.main-title h3 {
	color: #77a466;
	padding: 5px 0;
	text-align: left;
}

.main-title p {
	font-size: 1em;
	line-height: 25px;
	padding: 0;
}

.section-one, .section-two, .section-three {
	border-top: 1px solid #eee;
	float: left;
	height: auto;
	width:399px;
}

.section-one h4 {
	padding: 10px, 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4, .section-three h4 {
	padding: 10px 30px;
}

.menu {
	font-size: 1em;
	list-style: none;
	padding: 0;
}

.menu li {
	color:#77a466;
	padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
 }
/***** FOOTER *****/

footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display: flex;
	height: 50px;
	justify-content: center;
	margin: 0 auto;
	text-align: center;	
}

footer span {
	color: #77a466;
	font-family: 'Wisdom Script', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}
