/***** BASE STYLES *****/

html {
	font-size: 16px;
}

@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdomscript.otf') format('opentype');
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;	
}


/***** GRID *****/

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	width: 90%;
}



/***** FONT STYLE *****/

h1, h2, h3, h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-size: 1em;
	line-height: 21px;
}

/***** HEADER *****/

header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	font-size: 2.2em;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
}

header h1 {
	border-bottom: 3px double #77a466;
	float: left;
	margin: 0;
	padding: 100px 50px 50px 50px;
	width: 100%
}


header h1 span {
	color: #77a466;
}

header nav {
	float: right;
	padding: 50px 0;
	width: 100%
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: list-item;
	font-size: .875em;
	font-weight: 700;
	list-style: none;
	padding: 20px;	
}

header nav ul li a {
	color: #77a466;
	text-decoration: none;
}

/***** SECTIONS *****/

.top-section, .bottom-section {
	align-items: center;
	clear:both;
	display: center;
	justify-content: center;
	margin: 0, auto;
}

.main-image {
	float: left;
	height: auto;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
	width: 100%
}

.main-title {
	float: left;
	height: auto;
}

.main-title h3 {
	color: #77a466;
	font-size: 1.5em;
	padding: 5px 0;
	text-align: left;
}

.main-title p {
	font-size: 1em;
	line-height: 2;
	padding: 0;
}

.section-one, .section-two, .section-three {
	border-top: 1px solid #eee;
	float: left;
	height: auto;
	width: 100%;
}

.section-one h4 {
	padding: 10px 0;
}


.section-two h4, .section-three h4 {
	padding: 10px 30px;
}

.menu {
	font-size: 1em;
	list-style: none;
	padding: 0;
}

.menu li {
	color:#77a466;
	line-height: 3;
	padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 2.5;
}

.address {
	font-size: 1em;
	line-height: 2.5;
 }
/***** FOOTER *****/

footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display: flex;
	height: 4.16%;
	justify-content: center;
	margin: 0 auto;
	text-align: center;	
	width: 100%
}

footer span {
	color: #77a466;
	font-family: 'Wisdom Script', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}

@media all and (min-width: 765px){

	
}

@media all and (min-width: 1200px){
}