/***** BASE STYLES *****/

html {
	font-size: 16px;
}

@font-face {
	font-family: 'Wisdom Script';
	src: url('../fonts/wisdomscript.otf') format('opentype');
}

body {
	align-items: center;
	display: flex;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	justify-content: center;	
}


/***** GRID *****/

.container {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	width: 90%;
}



/***** FONT STYLE *****/

h1, h2, h3, h4 {
	color: black;
	font-weight: 700;
	text-transform: uppercase;
}

p {
	font-size: .875em;
	line-height: 21px;
}

/***** HEADER *****/

header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	float: left;
	font-size: 1.875em;
	margin: 0;
	padding: 38px 20px 20px 20px;
	width: 100%
}


header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	display: list-item;
	font-size: .875em;
	font-weight: 700;
	list-style: none;
	padding: 10px;	
}

header nav ul li a {
	color: #77a466;
	text-decoration: none;
}

/***** SECTIONS *****/

.top-section, .bottom-section {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: auto;
}

.main-image {
	float: left;
	height: auto;
}

.main-image img {
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
	width: 100%
}

.main-title {
	float: left;
	height: auto;
	width: 100%;
}

.main-title h3 {
	color: #77a466;
	font-size: 1.125em;
	padding: 5px 0;
	text-align: left;
}

.main-title p {
	font-size: 1em;
	line-height: 1.5625;
	padding: 0;
}

.section-one, .section-two, .section-three {
	border-top: 1px solid #eee;
	float: left;
	height: auto;
	width: 100%;
}

.menu {
	font-size: 1em;
	list-style: none;
	padding: 0;
}

.menu li {
	color:#77a466;
	padding: 10px 0;
}

.reviews {
	color: #333;
	font-size: 1em;
}

.address {
	font-size: 1em;
	line-height: 1.5;
 }

.gallery-photo {
	margin: 1.66%;
	float: left;
	height: auto;
	overflow: auto;
	width: 100%;
}


/***** FOOTER *****/

footer {
	align-items: center;
	border-top: 3px solid #eee;
	clear: both;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	text-align: center;	
	width: 100%
}

footer span {
	color: #77a466;
	font-family: 'Wisdom Script', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}

@media all and (min-width: 765px) {
	.bottom-section {
		align-items: flex-start;
		border-top: 1px solid #eee;
		justify-content: space-between;
	}
	.section-one, .section-two, .section-three {
		border-top: none;
		flex-basis: 30%
	}

	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
		padding: 0 20px;
	}

	.gallery-photo {
		width: 30%;
	}
}

@media all and (min-width: 1200px) {
	header {
		flex-wrap: nowrap;
		justify-content: space-between;
	}

	header h1 {
		border: 0;
		padding: 38px 20px 20px 0px;
		text-align: left;
		width: 50%;
	}

	header nav {
		padding: 38px 0px 20px 0px;
		text-align: right;
		width: 50%;
	}


	header nav ul li {
		display: inline-block;
	}

	.main-title p {
		float:left;
	}

	.main-title iframe {
		float: right;
		width: 50%;
	}

	.gallery-photo {
		width: 30%;
	}
}